sentence-transformers
langchain
langchain-community
langchain-huggingface
langchain_ollama
unstructured
libmagic
onnxruntime
chromadb
tiktoken
flask
flask-cors

# install markdown depenendies with: `pip install "unstructured[md]"` after install the requirements file. Leave this line commented out. 
